

  <div (twoSource)="NewSource($event)"  class="row">
    <div   class="col-md-4  mb-5" *ngFor="let new of news; let i = index" >
      <h4>{{ new.title }}</h4>
      <div class="row mt-3 mb-3 ">
          <h6 class="card-subtitle ml-3 text-muted">{{new.source.name}} -</h6> 
          <h6 class="card-subtitle ml-1 text-muted">{{new.publishedAt | date: 'MMM d, y'}}</h6>
      </div>
      <a href="{{new.url}}" target="_blank"><img src="{{new.urlToImage}}"  alt="" class="card-img-top"></a>
      <p class="card-text mt-3">{{new.description}}</p>
    </div>
    
  </div>
