.col {
    background-color: gray;
    border: 1px solid black;
    width: 100%;
}

.detail {
    display: inline-block;
}
.card-img-top {
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
    transition: all .3s ease-in-out;
}
.card-img-top:hover {
    transform: translateY(-11px);
    
}