<!-- <select class="form-control form-control-lg" #selected (change)="onSelected(selected.value)">
    <option *ngFor="let final of finals; let i = index">{{final.id}}</option>
  </select> -->

  <input type="text" class="form-control" [(ngModel)]="selected">
    <button (click)="onSelected(selected)">SEARCH FOR NEWS</button>

  <h1>{{selected}}</h1>

  <!-- <button appNewsOrg (sourceChange)="onNewSource($event)" value="{{final.id}}" *ngFor="let final of finals; let i = index">{{final.name}}</button> -->

  <button (click)="selectedSource(final.id)" value="{{final.id}}" *ngFor="let final of finals; let i = index">{{final.name}}</button>